{% extends "base.html" %}

{% block upper_image %}
        <div style="margin-left: 30%;">
            <img  src="https://via.placeholder.com/850x100.png?text=Some+other+Image">
        </div>
{% endblock %}

{% block image %}
    <img src="{{ IMAGE_URL }}homepage_image.png" alt="contact image"/>
{% endblock %}

{% block content %}
    <p>
        {{ text }}
    </p>

    <div class="container">
        <div class="row">
          {% for element in portfolio_elements %}
          <div class="col-md-4">
              <img src="{{ element.image }}" class="img-responsive img-thumbnail"/>
           </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}